body {
  background-color: #cccccc;
}

#header {
  background: url("imgs/background_image.jpg");
  height: 800px;
  width: 100%;
}

#deli {
  font-size: 80px;
  padding-left: 50px;
  text-align: center;
  font-weight: bold;
}

#deli_2{
  font-size: 50px;
  text-align: center;
}

#footer {
  clear: both;
  text-align: center;
  background-color: #329cec;
  padding-top: 50px;
  padding-bottom: 50px;
}